  <% content_for :login do %>
    <%= stylesheet_link_tag "login" %>
  <% end %>

<h2> Profile </h2>

<h3> Name: <%= @admin.name if @admin.name %></h3>
<h3> Email: <%= @admin.email if @admin.email %></h3>

<h4> Members: </h4>
<table class= "table">
	<tbody>
		<%= @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.books %></td>
			<td><%= user.money %></td>
			<td><%= button_to "Fine", fine_path(id: user.id), :class => "button small", :method => :patch %></td>
		</tr>
		<% end %>
	</tbody>
<%= button_to "Add new book", new_book_path, :class => "button medium", :method => :get %>
<%= button_to "Delete book", book_delete_path, :class => "button medium", :method => :get %>
</table>