<h2> Profile </h2>

<h3> Email: <%= @admin.email if @admin.email %></h3>

<h4> Members: </h4>
<table class= "table">
	<tbody>
		<%= @users.each do |user| %>
		<tr>
			<td><%= user.books %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= button_to "Add new book", new_book_path, :class => "button medium", :method => :get %>
<%= button_to "Delete book", books_deleteshow_path, :class => "button medium", :method => :get %>
<% if admin_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_admin_session_path)  %>  
  </li>
<% end %>