<h2 id="pagetitle"> Profile </h2>

<div id = 'maincontainer'>

<h3> 
	<span>
		<img src="<%=@user.img_url%>" alt="">
		<%=@user.name if @user.name %>	(<%= @user.email if @user.email %>)
	  已經借了：
	</span> 
</h3>

<table class= "table">
	<tbody>
		<% @user.books.each do |book| %>
		<tr>
			<td>
				<%= link_to book_path(book) do%>
					<%= book.title %>
				<%end%>
			</td>
			<td>
				<%= UserBookShip.find_by(:user_id=> @user.id, :book_id=>book.id).created_at.in_time_zone("Taipei").strftime("%Y/%m/%d %H:%M")%>
			</td>
			<td>
				<%= button_to "還書", return_path(id: book), :class => "button btn-warning", :method => :patch %>
			</td>
		</tr>
		<% end %>
	</tbody>

</table>
<%= button_to "借書", books_path, :class => "btn-lg btn-success", :method => :get %>

<br>

<div>
	<div class="row">
		<div class="col-md-4">
			<%= link_to '我猜你可能會喜歡', recommend_book_btn_books_url, :remote => true, :data => { :type => :json }, :class => "ajax_update btn-lg btn-primary" %>
		</div>
		<div class="col-md-8">
			<div id="recommend_area">
				<a href=""></a>
			</div>
		</div>
	</div>
</div>


</div>

<script>
$(document).ready(function() {
    $('.ajax_update').on("ajax:success", function(event, data) {
    	if (data.length >0) {
	        var recommend_area = $('#recommend_area a');
	        recommend_area.html(data[1])
	        recommend_area.attr({
			    "href" : "/books/"+data[0],
			    "style": "color:blue; font-size: 30px;"
			  });
        }
    });
});
</script>