<div class="card-container col-sm-6 col-md-4 col-lg-4 mt-4">
    <div class="card">
        <% if book.picture_url.blank?%>
        <img class="card-img-top" src="https://picsum.photos/200/150/?random">
        <%else%>
        <img src="<%=book.picture_url%>" alt="" class="card-img-top">
        <%end%>

        <div class="card-block">
            <figure class="profile">
                <% if book.users.size > 0%>
                <% book.users.each do |user|%>
                <img src="<%=user.img_url%>" alt="" class="profile-avatar">
                <%end%>
                <%else%>

                <%end%>

            </figure>
            <h4 class="card-title mt-3">
                <%= link_to book_path(book.id) do %>
                <%= book.title %>
                <%end%>
            </h4>
            <div class="meta">
                所屬單位：<%= book.organization.name%>
            </div>
            <div class="meta">
                借閱次數：<%= book.issue_count%>
            </div>
            <div class="card-text">
                作者：<%=book.author%>
            </div>
            <div class="card-text">
                分類：<%=book.genre%>
            </div>
            <div class="card-text">
                書本介紹：
                <% if book.description_url.exist?%>
                <a target="_blank" href=<%=book.description_url%>> link </a>
                <%end%>

            </div>
            <div class="card-text">
                剩餘：<%=book.no_copies%> 本
            </div>
        </div>
        <div class="card-footer">
            <small>
                <% if book.comments.average(:score).present?%>
                <span style="color: orange;">
                    <% book.comments.average(:score).to_i.times do%>
                    &#9733;
                    <%end%>
                </span>
                <%end%>
            </small>
            <br>
            <i class="fa fa-tags">
                <% book.tag_list.each do |tag| %>
                <%= link_to tagged_books_path(tag: tag), :class=>"btn btn-default btn-sm" do%>
                <%=tag%>
                <%end%>
                <% end %>
            </i>
        </div>
    </div>
</div>