<div id = "maincontainer" style = "height: auto;">
<p><% @books.each do |book| %><p>
	<%= book.title %>
	<%= book.author %>
	<%= book.genre %>
	<%= book.year %>
	<%= book.no_copies %>
	<%= book.avail_for_issue %>
	<%= button_to "Delete Book", delete_path(id: book), :class => "button medium", :method => :patch %>
<% end %>

</div>