<%= search_form_for @q do |f| %>
    <%= f.label :title_cont %>
    <%= f.search_field :title_cont %>
    <%= f.submit %>
<% end %>


<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th>書名</th>	
        </tr>
    </thead>
    <tbody>
        
        <% @books.each do |book| %>
            <tr>
                <td>
                    <%= book.title %>
                </td>
                <td>
                    <%= link_to book_path(book.id),  :class=>"btn btn-default" do %>
                        show
                    <%end%>
                </td>
            </tr>				
        <% end %>
    </tbody>
</table>


<div class="pull-right">
    <%= paginate @books  %>
</div>






