<style>
    .css1 { font-size: 1em; }
    .css2 { font-size: 1.5em; }
    .css3 { font-size: 2em; }
    .css4 { font-size: 4em; }
</style>


<div class="row container">
    <div class="col-md-4">
        <div class="row">
            <h3>新書</h3>
        </div>
        <ul>
            <% Book.all.order(created_at: :DESC).limit(10).each do |book|%>
                <li>
                    <%= link_to book_path(book.id) do%>
                        <%=book.title[0..15] %> 
                        <% if book.title.length > 16%>
                            <%= "..." %>
                        <%end%>
                    <%end%>
                </li>
            <%end%>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="row">
            <h3>熱門</h3>
        </div>
        <ul>
            <% Book.order(issue_count: :DESC).limit(10).each do |book|%>
                <li>
                    <%= link_to book_path(book.id) do%>
                        <%=book.title[0..15] %> 
                        <% if book.title.length > 16%>
                            <%= "..." %>
                        <%end%>
                        （<%= book.issue_count%>）
                    <%end%>
                </li>
            <%end%>
        </ul>
    </div>

</div>


<div class="col-md-15">
    <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, tagged_books_path(tag: tag.name), :class => css_class %>
    <% end %>
</div>





<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th style="width: 400px;">
                <%= search_form_for @q do |f| %>
                    <%= f.label :title_cont %>
                    <%= f.search_field :title_cont %>
                    <%= f.submit %>
                <% end %>
                書名
            </th>
            <th style="width: 150px">剩餘幾本</th>
            <th style="width: 150px;"><%= sort_link(@q, :issue_count, '借閱次數') %><i class="fa fa-sort"></i></th>
            <th>tag</th>
        </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
            <tr>
                <td>
                    <div class="pull-left">
                        <% if book.comments.average(:score).present?%>
                            <span style="color: orange;">
                                <% book.comments.average(:score).to_i.times do%>
                                    &#9733;
                                <%end%>
                            </span>
                        <%end%>
                    </div>
                    <br>
                    <div>
                        <%= link_to book_path(book.id) do %>
                            <%= book.title %>
                        <%end%>
                    </div>
                </td>
                <td>
                    <%=book.no_copies%>
                </td>
                <td>
                    <%= book.issue_count%>
                </td>
                <td>
                    <% book.tag_list.each do |tag| %>
                        <%= link_to tagged_books_path(tag: tag), :class=>"btn btn-warning" do%>
                            <%=tag%>
                        <%end%>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>









