<div id = "maincontainer">
<%= simple_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :genre %>
  <%= f.input :year %>
  <%= f.input :no_copies %>
  <%= f.button :submit %>
<% end %>
</div>