<table class="table table-striped">
	<thead>
		<tr>
			<th>書名</th>
			<th>剩餘幾本</th>
			<th></th>
			<th>目前正在閱讀</th>
		<tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @book.title %></td>
			<td><%= @book.no_copies %></td>
			<td>
				<%if current_user.books.ids.include?(@book.id)%>
					<div class="btn btn-primary">已借</div>
				<%else%>
					<%= link_to book_issue_path(@book), :class => "btn btn-success",:method => :patch do%>
						借書
					<%end%>
				<%end%>
			</td>
			<td>
				<ul>
					<% @book.users.each do |u|%>
						<li> <%= u.email %></li>
					<%end%>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<div>
	<img src="<%=@book.picture_url%>" alt="">
</div>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>留言</h3>
		</div><!-- /col-sm-12 -->
	</div><!-- /row -->

	<% @book.comments.each do |comment|%>
		<div class="row">
			<div class="col-sm-1">
				<div class="thumbnail">
					<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
				</div><!-- /thumbnail -->
			</div><!-- /col-sm-1 -->

			<div class="col-sm-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong><%=comment.user.email%></strong> <span class="text-muted"><%=comment.created_at%></span> <span class="pull-right">score: <%=comment.score%> </span>
					</div>
					<div class="panel-body">
						<%=comment.content%>
					</div><!-- /panel-body -->
				</div><!-- /panel panel-default -->
			</div><!-- /col-sm-5 -->

		</div><!-- /row -->
	<%end%>

	<%= form_for @new_comment , :url => book_create_comment_path(@book), :method=> :GET do |f| %>
		<div class="row">
			<div class="col-sm-1">
				<div class="thumbnail">
					<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
				</div><!-- /thumbnail -->
			</div><!-- /col-sm-1 -->

			<div class="col-sm-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong><%=current_user.email%></strong>
						<span class="pull-right">
							score: <%= f.number_field :score ,max:"5",min:"1"%>
						</span>
					</div>
					<div class="panel-body">
						<%= f.text_area :content, style: ' width: 100%; height: 100px; display: block'%>
						<br>
						<%= f.submit "建立留言", :class=>"btn btn-primary pull-right"%>
					</div><!-- /panel-body -->
				</div><!-- /panel panel-default -->
			</div><!-- /col-sm-5 -->
		</div><!-- /row -->
	<% end %>

</div><!-- /container -->

