<table class="table table-striped">
	<thead>
		<tr>
			<th>書名</th>
			<th>剩餘幾本</th>
			<th></th>
		<tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @book.title %></td>
			<td><%= @book.no_copies %></td>
			<td>
				<%if current_user.books.ids.include?(@book.id)%>
					<div class="btn btn-primary">已借</div>
				<%else%>
					<%= link_to books_issue_path(id: @book), :class => "btn btn-success",:method => :patch do%>
						借書
					<%end%>
				<%end%>
			</td>
		</tr>
	</tbody>
</table>

<div>
	<img src="<%=@book.picture_url%>" alt="">
</div>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>留言</h3>
		</div><!-- /col-sm-12 -->
	</div><!-- /row -->

	<% @book.posts.each do |post|%>
		<div class="row">
			<div class="col-sm-1">
				<div class="thumbnail">
					<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
				</div><!-- /thumbnail -->
			</div><!-- /col-sm-1 -->

			<div class="col-sm-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong><%=post.user.email%></strong> <span class="text-muted"><%=post.created_at%></span> <span class="pull-right">score:<%=post.score%> </span>
					</div>
					<div class="panel-body">
						<%=post.content%>
					</div><!-- /panel-body -->
				</div><!-- /panel panel-default -->
			</div><!-- /col-sm-5 -->

		</div><!-- /row -->
	<%end%>

	<%= form_for @new_post, url: {action: "new"} do |f| %>
		<div class="row">
			<div class="col-sm-1">
				<div class="thumbnail">
					<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
				</div><!-- /thumbnail -->
			</div><!-- /col-sm-1 -->

			<div class="col-sm-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong><%=current_user.email%></strong> 
						<span class="pull-right">
							score:<%= f.number_field :score %>
						</span>
					</div>
					<div class="panel-body">
						<%= f.text_area :content %>
					</div><!-- /panel-body -->
					<div class="pull-right">
						<%= f.submit %>
					</div>
				</div><!-- /panel panel-default -->

			</div><!-- /col-sm-5 -->

		</div><!-- /row -->
	    
	<% end %>

	

</div><!-- /container -->

