  <% content_for :login do %>
    <%= stylesheet_link_tag "login" %>
  <% end %>

  <div style="padding: 20px; margin: 12% auto; width: 60%; background-color: rgba(249,249,249,0.9); position: relative; height: 50%; color: #000;">
    
      <div id = "login">

        <h2>Member log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
           </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

      <%= render "devise/shared/links" %>

    </div>

    <div style = "position: absolute; bottom: 0px; right: 15px; color: #000;">
      <p>Admin? Click <%= link_to "here", controller: "admins", action: "login" %> to log in.</p>        
    </div>

  </div>