<!DOCTYPE html>
<html>
  <head>
    <title>eLib</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "stylesheet", media: 'all', 'data-turbolinks-track' => 'reload'%>
    <%= javascript_include_tag "js", 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse clear" id = "navbar" >
        <div class="container-fluid">
            <% if user_signed_in? %>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <%= link_to_unless_current("個人借書", root_path) %>
                    </li>
                    <li>
                        <%= link_to books_path, :method => :get do %>
                            <p>館藏</p>
                        <%end%>
                    </li>
                    <%if current_user && current_user.is_admin?%>
                        <li><a href="/admin">後台管理</a></li>
                    <%end%>
                </ul>
            <%end%>
            <ul class="nav navbar-nav navbar-right">
                <div id = 'sharedlinks' class='pull-right'>
                    <% if user_signed_in? %>
                        <li>
                            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to('Login', new_user_session_path)  %>  
                        </li>
                    <% end %>
                </div>
            </ul>
        </div>
    </nav>

    <div id = "maincontainer2">
        <%= yield %>
    </div>
    
  </body>
</html>